body {
    font-family: Arial, sans-serif;
}


#container {
    margin: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 320px;
    background-color: rgb(164, 163, 163);

}


#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 220px;
    height: 250px;
}


button:focus {
    outline: none;
}


#row1, #row2, #row3, #row4, #row5 {
    display: contents;
}


.btn {
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid black;
}


#clearButton {
    font-weight: bold;
    color: white;
    background-color: red;
    grid-row: span 2;
}


.operatorButton {
    font-weight: bold;
    color: white;
    background-color: orange;
}


#equalButton {
    font-weight: bold;
    color: white;
    background-color: green;
    grid-row: span 2;
}


#display {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    width: 220px;
    height: 40px;
    margin: 10px 15px;
    font-size: 24px;
    padding-right: 5px;
}